[Desktop Entry]
Version=1.0
Type=Application
Name=Play
TryExec=vlc
Exec=vlc --no-repeat --no-loop --fullscreen %f
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;
