default vesamenu.c32
prompt 0
timeout 100

label live
menu label ^Debian Live XX.XX-YYYYMMDD [BIOS|Live]
linux /vmlinuz boot=live noresume
initrd /initrd.img

label live-safemode
menu label ^Debian Live XX.XX-YYYYMMDD [BIOS|Live|SafeMode]
linux /vmlinuz boot=live noresume nomodeset
initrd /initrd.img

label live-recovery
menu label ^Debian Live XX.XX-YYYYMMDD [BIOS|Live|Recovery"
linux /vmlinuz boot=live noresume nomodeset 3
initrd /initrd.img
