#
# Use "pylint --generate-rcfile" for template
#

[MASTER]
jobs=0

[MESSAGES CONTROL]
# Use "python3.exe -X utf8" for Python 3.7+ UTF-8 files on Windows
disable=duplicate-code,unspecified-encoding

[REPORTS]
output-format=parseable
##reports=yes

[TYPECHECK]
generated-members=

[FORMAT]
max-line-length=79
