ansible==None
ansible-core==None
appimage-builder==None
astroid==2.4.2
bcrypt==3.1.7
build==0.5.1
check-manifest==0.44
cryptography==None
Django==None
dropbox==None
GitPython==3.1.17
ImageHash==None
importlib-metadata==2.1.1
ipython==7.9.0
Markdown==3.2.2
nexus3-cli==None
numpy==None
pip==20.2.4
pylint==2.6.2
pyOpenSSL==19.1.0
scipy==None
setuptools==50.3.2
Pillow==None
PyYAML==None
youtube_dl==None
