arrow==1.1.1                 #   (required by jinja2-time)
astroid==2.15.2              #   (required by pylint)
asttokens==2.1.0             #   (required by stack-data)
backcall==0.2.0              #   (required by ipython)
bcrypt==3.2.2                #   (required by paramiko)
beautifulsoup4==4.11.2       # HTML/XML parser/emitter
binaryornot==0.4.4           #   (required by cookiecutter)
bson==0.5.10                 # BSON parser/emitter
certifi==2022.12.7           #   (required by requests)
cffi==1.15.1                 #   (required by cryptography)
chardet==3.0.4               #   (required by binaryornot)
charset-normalizer==2.1.1    #   (required by requests)
click==8.1.3                 #   (required by cookiecutter/gtts/humpty)
cookiecutter==2.1.1          # Creates projects from project templates
cryptography==39.0.2         #   (required by paramiko/pyOpenSSL)
cx-Oracle==8.3.0             # Oracle DB client
Cython==0.29.34              # Cython compiler for writing C extensions
decorator==5.1.1             #   (required by ipdb/ipython)
dicttoxml==1.7.16            # Convert Python dict to XML
dill==0.3.6                  #   (required by pylint)
distlib==0.3.6               #   (required by humpty/virtualenv)
dnspython==2.2.1             # DNS client
EditorConfig==0.12.3         #   (required by jsbeautifier)
executing==1.1.1             #   (required by stack-data)
filelock==3.10.7             #   (required by virtualenv)
filemagic==1.6               # Python API for libmagic
flake8==6.0.0                # Python modular source code checker
gitdb==4.0.9                 #   (required by GitPython)
GitPython==3.1.30            # Library to interact with Git repositories
gTTS==2.3.1                  # Google Text-to-Speech
humpty==0.2.1                # Convert whl to egg
idna==3.3                    #   (required by requests)
ipdb==0.13.13                # Interactive Python debugger
ipython==8.11.0              #   (required by ipdb)
isort==5.11.5                #   (required by pylint)
jedi==0.18.2                 #   (required by ipython)
jinja2-cli==0.8.2            # Jinja2 commandline
jinja2-time==0.2.0           #   (required by cookiecutter)
Jinja2==3.1.2                # Stand-alone template engine
jsbeautifier==1.13.13        # JavaScript unobfuscator/beautifier
jsonpickle==2.2.0            # Serializing any arbitrary object into JSON
lazy-object-proxy==1.8.0     #   (required by astroid)
lockfile==0.12.2             # File locking
markdown2==2.4.8             # Convert Markdown to HTML
MarkupSafe==2.1.2            #   (required by Jinja2)
matplotlib-inline==0.1.5     #   (required by ipython)
mccabe==0.7.0                #   (required by flake8/pylint)
motor==3.1.1                 # Mongo async client
mypy-extensions==1.0.0       #   (required by mypy)
mypy==1.1.1                  # Python type checker
ntplib==0.4.0                # NTP client
paramiko==2.12.0             # SSH client
parso==0.8.3                 #   (required by jedi)
pexpect==4.7.0               #   (required by ipython)
pickleshare==0.7.5           #   (required by ipython)
pip==23.0.1                  # Python package manager
pipdeptree==2.7.0            # Python package dependency tree
platformdirs==3.1.1          #   (required by pylint/virtualenv)
prompt-toolkit==3.0.38       #   (required by ipython)
ptyprocess==0.6.0            #   (required by pexpect)
pure-eval==0.2.2             #   (required by stack-data)
pycodestyle==2.10.0          # Python style guide checker
pycparser==2.21              #   (required by cffi)
pyflakes==3.0.1              #   (required by flake8)
Pygments==2.13.0             #   (required by ipython)
pylint==2.17.2               # Python code static checker
pymongo==4.2.0               # MongoDB client
PyNaCl==1.4.0                #   (required by paramiko)
pyOpenSSL==23.1.1            # OpenSSL interface
python-dateutil==2.7.5       #   (required by bson)
python-slugify==6.1.2        #   (required by cookiecutter)
PyYAML==6.0                  # YAML parser/emitter
pyzstd==0.15.6               # ZSTD compression/decompression
requests==2.28.2             # Web client
setuptools==67.6.1           # Python package manager
six==1.16.0                  # Python 2 and 3 compatibility utilities
smmap==4.0.0                 #   (required by gitdb)
soupsieve==2.3.2.post1       #   (required by beautifulsoup4)
stack-data==0.5.1            #   (required by ipython)
text-unidecode==1.3          #   (required by python-slugify)
tomli==2.0.1                 #   (required by mypy)
tomlkit==0.11.6              #   (required by pylint)
tornado==5.1.1               # Web server framework
traitlets==5.8.1             #   (required by ipython)
typing_extensions==4.5.0     #   (required by mypy)
urllib3==1.26.15             #   (required by requests)
virtualenv==20.21.0          # Python Virtual Environments
wcwidth==0.2.6               #   (required by prompt-toolkit)
wheel==0.40.0                # Python wheel packaging
wrapt==1.14.1                #   (required by astroid)
xmltodict==0.12.0            # Convert XML to Python dict
