flake8                       # ==5.0.4 (last compatible version)
importlib-metadata==4.2.0    #   (< 4.3 required by flake8)
ipython                      # ==7.34.0 (last compatible version)
pip                          # ==21.3.1 (last compatible version)
pipdeptree                   # ==2.9.6 (last compatible version)
platformdirs==2.6.2
pycodestyle==2.9.1
pyflakes==2.5.0
tornado                      # ==6.2 (last compatible version)
typing_extensions==4.4.0
typed-ast                    # ==1.5.4 (last compatible version)
virtualenv==20.15.1
zipp==3.14.0                 #   (required by importlib-metadata for 3.7)
