cached-property==1.5.2       #   (required by docker-compose for 3.7)
importlib-metadata==4.8.1    #   (required by poetry/virtualenv for 3.7)
pip                          #   (pip==20.2.4 last supported)
poetry==None
poetry-core==None
typed-ast==1.4.3             #   (required by pylint/mypy for 3.7)
zipp==3.6.0                  #   (required by poetry/virtualenv for 3.7)
