arrow==0.17.0
astroid==2.4.2
asttokens==None
bcrypt==3.1.7
beautifulsoup4               # ==4.10.0 (last compatible version)
cached-property==None
certifi                      # ==2021.10.8 (last compatible version)
cffi                         # ==1.15.1 (last compatible version)
chardet                      # ==4.0.0 (last compatible version)
charset-normalizer==None
click                        # ==7.1.2 (last compatible version)
cookiecutter                 # ==1.7.3 (last compatible version)
cryptography                 # ==3.2.1 (last compatible version)
cx-Oracle==7.3.0
dicttoxml==None
dill==None
dnspython==None
executing==None
filelock==3.2.1
gitdb==4.0.7
GitPython                    # ==3.1.17 (last compatible version)
gTTS                         # ==2.2.4 (last compatible version)
idna                         # ==2.10 (last compatible version)
importlib-metadata==2.1.1    #   (required by virtualenv for 3.5)
importlib-resources==3.2.1   #   (required by virtualenv for 3.5)
ipdb==None
ipython==None
isort==4.3.21
jedi==None
Jinja2                       # ==2.11.3 (last compatible version)
jsonpickle                   # ==2.2.0 (last compatible version)
lazy-object-proxy==1.4.3
lockfile==None
Markdown==3.2.2
markdown-it-py==None
MarkupSafe==1.1.1
matplotlib-inline==None
mccabe                       # ==0.6.1 (last compatible version)
mdurl==None
motor                        # ==2.5.1 (last compatible version)
packaging==None
paramiko                     # ==2.12.0 (last compatible version)
parso==None
pip                          # ==20.2.4 (last compatible version)
pipdeptree                   # ==2.2.1 (last compatible version)
platformdirs==2.0.2
poyo==0.5.0                  #   (required by cookiecutter for 3.5)
prompt-toolkit==None
pure-eval==None
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==None
pylint==2.6.2
pymongo                      # ==3.13.0 (last compatible version)
PyNaCl                       # ==1.4.0 (last compatible version)
pyOpenSSL==None
pyparsing                    # ==2.4.7 (required by packaging for 3.5)
python-slugify==4.0.1
PyYAML==None
pyzstd==None
questionary==None
requests                     # ==2.25.1 (last compatible version)
rich==None
setuptools                   # ==50.3.2 (last compatible version)
smmap                        # ==4.0.0 (last compatible version)
soupsieve==2.1
stack-data==None
toml==0.10.2                 #   (required by pylint for 3.5)
tomlkit==0.7.2
tornado                      # ==6.1 (last compatible version)
traitlets==None
typed-ast==1.4.3             #   (required by pylint for 3.5)
typing-extensions            # ==3.10.0.2 (last compatible version)
urllib3                      # ==1.26.9 (last compatible version)
virtualenv                   # ==20.15.1 (last compatible version)
wheel                        # ==0.37.1 (last compatible version)
zipp                         # ==1.2.0 (required by virtualenv for 3.5)
