arrow==1.2.3                 #   (required by jinja2-time)
astroid==3.0.1               #   (required by pylint)
asttokens==2.2.1             #   (required by stack-data)
backcall==0.2.0              #   (required by ipython)
bcrypt==3.2.2                #   (required by paramiko)
beautifulsoup4==4.11.2       # HTML/XML parser/emitter
binaryornot==0.4.4           #   (required by cookiecutter)
bson==0.5.10                 # BSON parser/emitter
certifi==2023.11.17          #   (required by requests)
cffi==1.15.1                 #   (required by cryptography)
chardet==5.1.0               #   (required by binaryornot)
charset-normalizer==3.2.0    #   (required by requests)
click==8.1.7                 #   (required by cookiecutter/gtts/humpty)
cookiecutter==2.3.1          # Creates projects from project templates
cryptography==40.0.2         #   (required by paramiko/pyOpenSSL)
cx-Oracle==8.3.0             # Oracle DB client
Cython==0.29.36              # Cython compiler for writing C extensions
decorator==5.1.1             #   (required by ipdb/ipython)
dicttoxml==1.7.16            # Convert Python dict to XML
dill==0.3.7                  #   (required by pylint)
distlib==0.3.7               #   (required by humpty/virtualenv)
dnspython==2.3.0             # DNS client
EditorConfig==0.12.3         #   (required by jsbeautifier)
executing==1.2.0             #   (required by stack-data)
filelock==3.12.4             #   (required by virtualenv)
filemagic==1.6               # Python API for libmagic
flake8==6.1.0                # Python modular source code checker
gitdb==4.0.11                #   (required by GitPython)
GitPython==3.1.41            # Library to interact with Git repositories
gTTS==2.3.2                  # Google Text-to-Speech
humpty==0.2.1                # Convert whl to egg
idna==3.5                    #   (required by requests)
ipdb==0.13.13                # Interactive Python debugger
ipython==8.17.2              #   (required by ipdb)
isort==5.11.5                #   (required by pylint)
jedi==0.18.2                 #   (required by ipython)
jinja2-cli==0.8.2            # Jinja2 commandline
jinja2-time==0.2.0           #   (required by cookiecutter)
Jinja2==3.1.2                # Stand-alone template engine
jsbeautifier==1.13.13        # JavaScript unobfuscator/beautifier
jsonpickle==2.2.0            # Serializing any arbitrary object into JSON
lazy-object-proxy==1.8.0     #   (required by astroid)
lockfile==0.12.2             # File locking
markdown2==2.4.11            # Convert Markdown to HTML
markdown-it-py==2.2.0        #   (required by rich)
MarkupSafe==2.1.3            #   (required by Jinja2)
matplotlib-inline==0.1.6     #   (required by ipython)
mccabe==0.7.0                #   (required by flake8/pylint)
mdurl==0.1.2                 #   (required by cookiecutter)
motor==3.2.0                 # Mongo async client
mypy-extensions==1.0.0       #   (required by mypy)
mypy==1.7.1                  # Python type checker
ntplib==0.4.0                # NTP client
paramiko==3.4.0              # SSH client
parso==0.8.3                 #   (required by jedi)
pexpect==4.7.0               #   (required by ipython)
pickleshare==0.7.5           #   (required by ipython)
pip==23.3.1                  # Python package manager
pipdeptree==2.12.0           # Python package dependency tree
platformdirs==3.11.0         #   (required by pylint/virtualenv)
prompt-toolkit==3.0.41       #   (required by ipython)
ptyprocess==0.6.0            #   (required by pexpect)
pure-eval==0.2.2             #   (required by stack-data)
pycodestyle==2.11.1          # Python style guide checker
pycparser==2.21              #   (required by cffi)
pyflakes==3.1.0              #   (required by flake8)
Pygments==2.16.1             #   (required by ipython)
pylint==3.0.2                # Python code static checker
pymongo==4.4.1               # MongoDB client
PyNaCl==1.5.0                #   (required by paramiko)
pyOpenSSL==23.2.0            # OpenSSL interface
python-dateutil==2.7.5       #   (required by bson)
python-slugify==6.1.2        #   (required by cookiecutter)
PyYAML==6.0.1                # YAML parser/emitter
pyzstd==0.15.9               # ZSTD compression/decompression
requests==2.31.0             # Web client
rich==13.5.3                 #   (required by cookiecutter)
setuptools==68.2.2           # Python package manager
six==1.16.0                  # Python 2 and 3 compatibility utilities
smmap==5.0.1                 #   (required by gitdb)
soupsieve==2.4.1             #   (required by beautifulsoup4)
stack-data==0.5.1            #   (required by ipython)
text-unidecode==1.3          #   (required by python-slugify)
tomli==2.0.1                 #   (required by mypy)
tomlkit==0.11.8              #   (required by pylint)
tornado==6.3.3               # Web server framework
traitlets==5.13.0            #   (required by ipython)
typing_extensions==4.8.0     #   (required by mypy)
urllib3==1.26.18             #   (required by requests)
virtualenv==20.24.7          # Python Virtual Environments
wcwidth==0.2.11              #   (required by prompt-toolkit)
wheel==0.41.3                # Python wheel packaging
wrapt==1.15.0                #   (required by astroid)
xmltodict==0.12.0            # Convert XML to Python dict
