astroid                      # ==2.15.8 (last compatible version)
cffi                         # ==1.15.1 (last compatible version)
commonmark==0.9.1            #   (required by rich for 3.7)
dill                         # ==0.3.7 (last compatible version)
dnspython                    # ==2.3.0 (last compatible version)
executing                    # ==2.0.1 (last compatible version)
filelock                     # ==3.12.2 (last compatible version)
importlib-metadata==4.2.0    #   (< 4.3 required by jsonpickle/virtualenv)
ipython                      # ==7.34.0 (last compatible version)
ipython-pygments-lexers==None
jsonpickle                   # ==3.4.2 (last compatible version)
isort                        # ==5.11.5 (last compatible version)
lazy-object-proxy            # ==1.9.0 (last compatible version)
matplotlib-inline            # ==0.1.6 (last compatible version)
motor==3.3.2
packaging==None
pip                          # ==21.3.1 (last compatible version)
pipdeptree                   # ==2.9.6 (last compatible version)
platformdirs==2.6.2
prompt-toolkit               # ==3.0.48 (last compatible version)
pycodestyle==2.9.1
pycparser                    # ==2.21 (last compatible version)
pyflakes==2.5.0
pylint                       # ==2.17.7 (last compatible version)
pymongo                      # ==4.7.3 (last compatible version)
PyYAML                       # ==6.0.1 (last compatible version)
requests                     # ==2.31.0 (last compatible version)
rich                         # ==12.6.0 (last compatible version)
setuptools                   # ==68.0.0 (last compatible version)
soupsieve                    # ==2.4.1 (last compatible version)
tomli==2.0.1                 #   (required by pylint for 3.7)
tornado                      # ==6.2 (last compatible version)
traitlets                    # ==5.9.0 (last compatible version)
typing-extensions==4.4.0
typed-ast                    # ==1.5.4 (last compatible version)
urllib3                      # ==2.0.7 (last compatible version)
virtualenv                   # ==20.15.1 (last compatible version)
wheel                        # ==0.42.0 (last compatible version)
xmltodict                    # ==0.15.0 (last compatible version)
zipp                         # ==3.14.0 (required by importlib-metadata for 3.7)
