ansible>=2.2.2.0
aws-shell>=0.1.1
awscli>=1.10.67
beautifulsoup4>=4.4.1
boto3>=1.2.6
botocore>=1.4.93
devpi-client>=2.6.4
django>=1.9.13
docker-compose>=1.11.2
filemagic>=1.6
flask>=0.11
glances>=2.8.8
ipdb>=0.9.4
ipython>=5.2.2
jenkins-job-builder>=1.6.2
jsbeautifier>=1.6.12
jsonpickle>=0.9.4
nose>=1.3.7
numpy>=1.11.3
paramiko>=1.18.2
pep8>=1.7.0
pygame>=1.9.3
pylint>=1.7.1
pytest>=2.9.2
requests>=2.12.5
tornado>=4.4.3
virtualenv>=14.0.6
youtube-dl>=2017.02.07
