astroid                      # ==2.15.8 (last compatible version)
filelock                     # ==3.12.2 (last compatible version)
flake8                       # ==5.0.4 (last compatible version)
importlib-metadata==4.2.0    #   (< 4.3 required by flake8)
ipython                      # ==7.34.0 (last compatible version)
mypy                         # ==1.4.1 (last compatible version)
pip                          # ==21.3.1 (last compatible version)
pipdeptree                   # ==2.9.6 (last compatible version)
platformdirs==2.6.2
pycodestyle==2.9.1
pyflakes==2.5.0
pylint                       # ==2.17.7 (last compatible version)
setuptools                   # ==68.0.0 (last compatible version)
tornado                      # ==6.2 (last compatible version)
traitlets                    # ==5.9.0 (last compatible version)
typing_extensions==4.4.0
typed-ast                    # ==1.5.4 (last compatible version)
virtualenv==20.15.1
zipp==3.14.0                 #   (required by importlib-metadata for 3.7)
