zipp                         # ==3.14.0 (required by importlib-metadata for 3.8)
ipython                      # ==8.13.0 (last compatible version)
tomli==2.0.1                 #   (required by pylint for 3.8)
