astroid                      # ==3.2.4 (old version)
bson                         # ==0.5.10 (required instead of bson-senao for 3.8)
bson-senao                   # ==None
certifi                      # ==2025.10.5 (old version)
defusedxml                   # ==None
dnspython                    # ==2.6.1 (old version)
filelock                     # ==3.16.1 (old version)
Glances                      # ==None
isort                        # ==5.13.2 (old version)
pip                          # ==24.3.1 (old version)
pipdeptree                   # ==2.24.0 (old version)
platformdirs                 # ==4.3.6 (old version)
psutil                       # ==None
pycodestyle                  # ==2.12.1 (old version)
pyflakes                     # ==3.2.0 (old version)
pylint                       # ==3.2.7 (old version)
requests                     # ==2.32.4 (old version)
setuptools                   # ==75.3.2 (old version)
shtab                        # ==None
tomli                        # ==2.0.1 (required by pylint for 3.8)
typing-extensions            # ==4.13.2 (old version)
urllib3                      # ==2.2.3 (old version)
xmltodict                    # ==0.15.0 (old version)
yt-dlp                       # ==None
