arrow==0.17.0
astroid==1.6.6
asttokens==None
backports-abc==0.5           #   (required by tornado for 2.7)
backports.functools-lru-cache==1.6.4  #   (required by pylint for 2.7)
bcrypt==3.1.7
beautifulsoup4               # ==4.9.3 (last compatible version)
certifi                      # ==2021.10.8 (last compatible version)
cffi==1.15.1
charset-normalizer==None
click                        # ==7.1.2 (last compatible version)
configparser==3.8.1          #   (required by pylint/virtualenv for 2.7)
contextlib2==0.6.0.post1     #   (required by importlib-metadata/importlib-resources for 2.7)
cookiecutter                 # ==1.7.3 (last compatible version)
cryptography                 # ==3.3.2 (last compatible version)
cx-Oracle==7.3.0
decorator==4.4.2
dicttoxml==None
dill==None
dnspython==None
enum34==1.1.10               #   (required by astroid for 2.7)
executing==None
filelock==3.2.1
flake8==3.9.2
functools32==3.2.3.post2     #   (required by flake8 for 2.7)
future==0.18.3               #   (required by legacy code)
futures==3.3.0               #   (required by tornado for 2.7)
gitdb2==2.0.6                #   (required by GitPython for 2.7)
gitdb==None
GitPython                    # ==2.1.15 (last compatible version)
gTTS==None
idna                         # ==2.10 (last compatible version)
importlib-metadata==2.1.1    #   (required by virtualenv for 2.7)
importlib-resources==3.3.1   #   (required by virtualenv for 2.7)
ipaddress==1.0.23            #   (required by cryptography for 2.7)
ipdb==None
ipython==None
isort==4.3.21
jedi==None
Jinja2                       # ==2.11.3 (last compatible version)
lazy-object-proxy==1.6.0
markdown2==None
MarkupSafe==1.1.1
matplotlib-inline==None
mccabe                       # ==0.6.1 (last compatible version)
motor==2.1.0
mypy-extensions==None
mypy==None
parso==None
pathlib2==2.3.6              #   (required by virtualenv for 2.7)
pip                          # ==20.3.4 (last compatible version)
pipdeptree                   # ==2.2.1 (last compatible version)
platformdirs==2.0.2
poyo==0.5.0                  #   (required by cookiecutter for 2.7)
prompt-toolkit==None
pure-eval==None
pycodestyle==2.7.0
pycryptodome==3.14.1         #   (required by abettersqlplus)
pyflakes==2.3.1
Pygments==None
pylint==1.9.5
pymongo                      # ==3.13.0 (last compatible version)
pyOpenSSL==21.0.0
pyparsing                    # ==2.2.2 (last compatible required by legacy code)
pytz==2023.3                 #   (required by legacy code)
PyYAML                       # ==5.4.1 (last compatible version)
pyzstd==None
requests                     # ==2.27.1 (last compatible version)
scandir==1.10.0              #   (required by pathlib2 for 2.7)
setuptools                   # ==44.1.1 (last compatible version)
singledispatch==3.7.0        #   (required by astroid for 2.7)
smmap2==3.0.1                #   (required by gitdb2 for 2.7)
smmap==3.0.5                 #   (required by smmap2 for 2.7)
soupsieve                    # ==1.9.6 (last compatible version)
stack-data==None
tomli==None
tomlkit==None
tornado                      # ==5.1.1 (last compatible version)
traitlets==None
typing==3.10.0.0
typing_extensions==None
virtualenv                   # ==20.15.1 (last compatible version)
wheel                        # ==0.37.1 (last compatible version)
whichcraft==0.6.1            #   (required by cookiecutter for 2.7)
zipp==1.2.0                  #   (required by importlib-metadata/pep517 for 2.7)
