astroid==2.4.2
bcrypt==3.1.7
check-manifest==0.44
# cryptography==None
GitPython==3.1.17
importlib-metadata==2.1.1
ipython==7.9.0
Markdown==3.2.2
# nexus3-cli==None
numpy==1.18.5
pip==20.2.4
pylint==2.6.2
scipy==1.4.1
setuptools==50.3.2
# Pillow==None
# PyYAML==None
