astroid                      # ==3.3.11 (old version)
importlib-metadata           # ==7.2.1 (required by isort for 3.9)
pylint                       # ==3.3.9 (old version)
pipdeptree                   # ==2.28.0 (old version)
tomli                        # ==2.0.1 (required by pylint for 3.9)
yt-dlp                       # ==None
zipp                         # ==3.14.0 (required by importlib-metadata for 3.9)
