ansible-core==2.11.4
ansible==4.5.0
appimage-builder==None
arrow==0.17.0
astroid==1.6.6
asttokens==None
backports-abc==0.5           #   (required by tornado for 2.7)
backports.functools-lru-cache==1.6.4  #   (required by pylint for 2.7)
bcrypt==3.1.7
beautifulsoup4               # ==4.9.3 (last compatible version))
bleach==None
Brotli==None
build==None
cassandra-driver==None
certifi                      # ==2021.10.8 (last compatible version)
cffi==1.15.1
charset-normalizer==None
check-manifest==0.41
click                        # ==7.1.2 (last compatible version)
configparser==4.0.2          #   (required by pylint for 2.7)
contextlib2==0.6.0.post1     #   (required by importlib-metadata/importlib-resources for 2.7)
cookiecutter                 # ==1.7.3 (last compatible version)
cqlsh==None
cryptography==3.3.2
cx-Oracle==7.3.0
decorator==4.4.2
dill==None
dnspython==None
docker==None
emrichen==None
enum34==1.1.10               #   (required by astroid for 2.7)
executing==None
filelock==3.2.1
flake8==3.9.2
functools32==3.2.3.post2     #   (required by flake8 for 2.7)
futures==3.3.0               #   (required by tornado for 2.7)
geomet==None
gitdb2==2.0.6                #   (required by GitPython for 2.7)
gitdb==None
GitPython                    # ==2.1.15 (last compatible version)
gTTS==None
idna                         # ==2.10 (last compatible version)
ImageHash==None
importlib-metadata==2.1.1    #   (required by virtualenv for 2.7)
importlib-resources==3.3.1   #   (required by virtualenv for 2.7)
inflect==None
ipaddress==1.0.23            #   (required by cryptography for 2.7)
ipdb==None
ipython==None
isort==4.3.21
jaraco.classes==None
jedi==None
jeepney==None
Jinja2                       # ==2.11.3 (last compatible version)
keyring==None
lazy-object-proxy==1.6.0
lief==None
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib-inline==None
mccabe                       # ==0.6.1 (last compatible version)
more-itertools==None
motor==2.1.0
mutagen==None
mypy-extensions==None
mypy==None
nexus3-cli==None
numpy                        # ==1.16.6 (last compatible version)
packaging                    # ==20.9 (last compatible version)
parso==None
pathlib2==2.3.6              #   (required by virtualenv for 2.7)
pep517                       # ==0.12.0 (last compatible version)
Pillow==None
pip                          # ==20.2.4 (last compatible version)
platformdirs==2.0.2
pluggy==0.13.1
poyo==0.5.0                  #   (required by cookiecutter for 2.7)
prompt-toolkit==None
pure-eval==None
pycodestyle==2.7.0
pycryptodome==3.14.1         #   (required by abettersqlplus)
pyflakes==2.3.1
Pygments==None
pylint==1.9.5
pymongo                      # ==3.13.0 (last compatible version)
pyOpenSSL==21.0.0
pyparsing==2.2.2             # New version incompatible
python-gnupg==None
PyWavelets==1.0.3
PyYAML                       # ==5.4.1 (last compatible version)
pyzstd==None
questionary==None
readme-renderer==None
requests==2.27.1
resolvelib==0.5.5
roam==None
ruamel.yaml==None
scandir==1.10.0              #   (required by pathlib2 for 2.7)
scipy==None
SecretStorage==None
setuptools==44.1.1
singledispatch==3.7.0        #   (required by astroid for 2.7)
smmap2==3.0.1                #   (required by gitdb2 for 2.7)
smmap==3.0.5                 #   (required by smmap2 for 2.7)
soupsieve                    # ==1.9.6 (last compatible version)
stack-data==None
tomli==None
tomlkit==None
traitlets==None
twine==None
typing==3.10.0.0
typing_extensions==None
virtualenv                   # ==20.15.1 (last compatible version)
websocket-client==None
websockets==None
wheel                        # ==0.37.1 (last compatible version)
whichcraft==0.6.1            #   (required by cookiecutter for 2.7)
xdis==5.0.11
yt-dlp==None
zipp==1.2.0
