set default=0
set timeout=10
set superusers=""

menuentry "Debian Live XX.XX-YYYYMMDD [EFI|Live]" --unrestricted {
    linux /vmlinuz boot=live noresume
    initrd /initrd.img
}

menuentry "Debian Live XX.XX-YYYYMMDD [EFI|Live|SafeMode]" --unrestricted {
    linux /vmlinuz boot=live noresume nomodeset
    initrd /initrd.img
}

menuentry "Debian Live XX.XX-YYYYMMDD [EFI|Live|Recovery]" --unrestricted {
    linux /vmlinuz boot=live noresume nomodeset 3
    initrd /initrd.img
}


#set default=0
#set timeout=0
#set superusers=""
#
## Use <ESC> for menu
#timeout_style="hidden"
#
#menuentry "Linux Virtual Machine    [EFI|VM]" --unrestricted {
#    search --no-floppy --fs-uuid --set=root 11111111-2222-3333-4444-555555555555
#    linux /vmlinuz root=UUID=11111111-2222-3333-4444-555555555555 quiet loglevel=3 noresume elevator=noop 3
#    initrd /initrd.img
#}
#
#menuentry "Debian Linux XX Stable   [EFI]" --unrestricted {
#    linux /vmlinuz root=UUID=b83d20fb-91bc-4e5b-8f19-7fc004891d2d quiet loglevel=3 noresume
#    initrd /initrd.img
#}
#
#menuentry "Debian Linux XX Stable   [EFI|nvme0n1p2]" --unrestricted {
#    search --no-floppy --fs-uuid --set=root b83d20fb-91bc-4e5b-8f19-7fc004891d2d
#    linux /vmlinuz root=UUID=b83d20fb-91bc-4e5b-8f19-7fc004891d2d quiet loglevel=3 noresume
#    initrd /initrd.img
#}
#
#menuentry "Debian Linux XX Testing  [EFI|nvme0n1p3]" --unrestricted {
#    search --no-floppy --fs-uuid --set=root 23afbcba-fd93-4a99-8d23-5d128d9547ba
#    linux /vmlinuz root=UUID=23afbcba-fd93-4a99-8d23-5d128d9547ba quiet loglevel=3 noresume
#    initrd /initrd.img
#}
#
#menuentry "Ubuntu Linux XX.XX       [EFI|Live]" --unrestricted {
#    linux /casper/vmlinuz boot=casper quiet loglevel=3 noresume
#    initrd /casper/initrd.img
#}
#
#menuentry "Microsoft Boot Manager   [EFI|ESP]" --unrestricted {
#    search --no-floppy --fs-uuid --set=root 4C75-4B24
#    chainloader /EFI/Microsoft/Boot/bootmgfw.efi
#}
