#!/bin/sh

##ln -sf /opt/VBoxGuestAdditions-*/lib/VBoxGuestAdditions /usr/lib
##modprobe vboxsf
##mount -t vboxsf -o uid=owner,gid=users shared /shared &

##mount -t ext4 -o noatime,data=ordered UUID=<uuid-from-blkid> /data2 &

exit 0
