[Desktop Entry]
Version=1.0
Type=Application
Name=User Rotate Image Clockwise
TryExec=irotate
Exec=irotate -r 90 %f
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;
