[Desktop Entry]
Version=1.0
Type=Application
Name=User Play Video
TryExec=vlc
Exec=vlc --no-repeat --no-loop %f
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;
