#
# .local/share/applications/userapp-gqview.desktop
#
[Desktop Entry]
Name=gqview.py
Exec=/opt/software/bin/gqview %f
Type=Application
NoDisplay=true
