[Desktop Entry]
Version=1.0
Type=Application
Name=User Rotate Image Anti-Clockwise
TryExec=irotate
Exec=irotate -r 270 %f
Categories=X-Geeqie;
OnlyShowIn=X-Geeqie;
