- name: Ensure "/etc" directory exists
  file:
    path: /etc
    state: directory
    mode: '0755'
  tags:
  - local-system
  - rc-local

- name: Template file to "/etc/hosts"
  template:
    src: hosts
    dest: /etc/hosts
    mode: '0644'
  tags:
  - local-system
  - hosts

- name: Copy file to "/etc/rc.local"
  copy:
    src: '{{ config_directory }}/rc.local'
    dest: /etc/
  tags:
  - local-system
  - rc-local

- name: Template file to "/etc/rc.local-opt"
  template:
    src: rc.local-opt
    dest: /etc/rc.local-opt
    mode: '0755'
  tags:
  - local-system
  - rc-local

- name: Copy file to "/etc/sudoers.d/nopasswd-users"
  when: sudo_commands
  copy:
    src: nopasswd-users
    dest: /etc/sudoers.d/
  tags:
  - local-system
  - sudoers

- name: Template file to "/etc/iptables.conf"
  template:
    src: iptables.conf
    dest: /etc/iptables.conf
    mode: '0755'
  tags:
  - local-system
  - iptables

- name: Copy file to "/etc/polkit-1/rules.d/udisks2-unlock-luks.rules"
  copy:
    src: '{{ config_directory }}/udisks2-unlock-luks.rules'
    dest: /etc/polkit-1/rules.d
  tags:
  - local-system
  - polkit

- name: Ensure "/opt/software/bin" directory exists
  file:
    path: /opt/software/bin
    state: directory
    mode: '0755'
  tags:
  - local-system
  - software-bin

- name: Synchronize "/opt/software/bin" directory
  ansible.posix.synchronize:
    src: '{{ bin_directory }}/'
    dest: /opt/software/bin/
    owner: no
    group: no
    delete: yes
    rsync_path: sudo rsync
    rsync_opts: --exclude=..fsum --chown=admin:users

  tags:
  - local-system
  - software-bin
