- name: Copy file to "{{ home_directory }}/.tmux.conf"
  copy:
    src: '{{ config_directory }}/tmux.conf'
    dest: '{{ home_directory }}/.tmux.conf'
    owner: '{{ user }}'
    group: '{{ group }}'
    mode: '0600'
  tags:
  - user-home
  - tmux
